[Unit]
Description=gunicorn daemon for polypointjs.com
After=network.target

[Service]
User=site
Group=www-data
WorkingDirectory=/home/site/apps/polypoint/site/beta
RuntimeDirectory=gunicorn
RuntimeDirectoryMode=0775
ExecStart=/home/site/apps/polypoint/deployment/polypoint-deploy/deploy/gunicorn/start.sh \
    polypointjs_com_gunicorn.conf.py
Restart=always

[Install]
WantedBy=multi-user.target
