[Unit]
Description=gunicorn daemon for polypointjs.com
After=network.target

[Service]
User=site
Group=site
WorkingDirectory=/home/site/apps/polypoint/site/beta
RuntimeDirectory=gunicorn
ExecStart=/home/site/apps/polypoint/deploy/gunicorn/start.sh \
    polypointjs_com_gunicorn.conf.py
Restart=always

[Install]
WantedBy=multi-user.target
