.signature {
    display: flex;
    font-size: 1.1em;
    flex-wrap: wrap;
    align-items: center;
}

.class-methods > li {
    border-bottom: solid 1px #000;
    padding: 1rem 0 1rem 0;
}

ul.class-methods {
    margin: 0;
    padding: 0;
    list-style: none;
}

.class-methods .comments {
    margin: 0px 0 0 4em;
}

ul .raw-type {
    font-size: 0.8rem;
    border: solid 1px;
    display: inline-block;
    color: #444;
    display: none;
}

ul.defs-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.item-keys.comments {
    display: none;
}

.item-keys.comment {
    display: none;
}