* {/* color: #939393; */}

.backshot-mode .primary-panel {grid-template-rows: auto;}

.backshot-mode .primary-panel .footer-tools {
    display: none;
}

.backshot-mode header.primary {
    display: none;
}

.backshot-mode .header-tools.extra-buttons {
    display: none;
}

.backshot-mode .right-panel-container {
    display: none;
}

.backshot-mode footer.primay-status-bar {
    display: none;
}

.backshot-mode  .horiz-stack {
    grid-template-columns: auto;
}

.backshot-mode main {
    grid-template-rows: 100vh;
}

.backshot-mode .playspace-container {
    margin: 0;
    justify-content: unset;
    align-items: unset;
}

.backshot-mode .border-panel {
    margin: 0;
}

.backshot-mode canvas#playspace {
    width: 100%;
    height: 100%;
    border-radius: unset;
}