{% extends "docs/doc-base.html" %}
{% load link %}
{% block page_title %}Examples{% endblock page_title %}

{% block content %}

{% link.js "examples/css/list_view.css" %}

<div class="outer-block">
    <div class="block">
        <h2>{{ object_list|length }} Examples</h2>
        <ul class='file-list'>
            {% for obj in object_list %}
            <li>
                {% link "examples:file_example" obj.0 obj.0 %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>


{% endblock content %}
