{% extends "./example-base.html" %}


{% block js %}
<script src="../point_src/core/head.js"></script>
<script src="../point_src/files.js"></script>
<script src="../point_src/core/loader.js"></script>

<script src="../point_src/math.js"></script>
<!-- SetUnset -->
<script>
    Polypoint.head.configure({
        srcPath: '../point_src/'
        , load: ['everything']
        , files: polypointFileAssets
        , onLoad() {
            console.log('Loaded')
            Polypoint.head.load("../theatre/arc-pointlist-another-alt.js", ()=>{
                console.log('theatre loaded.')
            })
        }
    })
</script>
<script src="../point_src/functions/clamp.js"></script>
{% endblock js %}

