{% extends "./example-base.html" %}

{% block js %}
{#     {% include "./imports/click-create.html" %} #}

        <script src="../point_src/core/head.js"></script>
        <script src="../point_src/files.js"></script>
        <script src="../point_src/core/loader.js"></script>

        <script>
            Polypoint.head.configure({
                srcPath: '../point_src/'
                , load: ['everything']
                , files: polypointFileAssets
                , onLoad() {
                    console.log('Loaded')
                    Polypoint.head.load("../theatre/com-stage-example.js", ()=>{
                        console.log('theatre loaded.')
                    })
                }
            })
        </script>

{% endblock js %}


{% block extra_js %}

{% endblock extra_js %}
