{% extends "./example-base.html" %}

{% block js %}
    {# {% include "./imports/click-create.html" %} #}

    <script src="../point_src/core/head.js"></script>
    <script src="../point_src/files.js"></script>
    <script src="../point_src/core/loader.js"></script>

    <script>
        Polypoint.head.configure({
            srcPath: '../point_src/'
            , load: ['point', 'other']
            , files: polypointFileAssets
            , onLoad() {
                console.log('Loaded')
                Polypoint.head.load("../theatre/earth-sun.js", ()=>{
                    console.log('theatre loaded.')
                })
            }
        })
    </script>
    <script src="../point_src/functions/clamp.js"></script>
{% endblock js %}

