{% comment "What" %}
    The base page for all example files
{% endcomment %}
<!DOCTYPE html>
<html class='polypoint-demo'>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/polyclass@latest/dist/polyclass.browser-full.js"></script>
        {% load link %}
        {% link.css "examples/css/file-view.css" %}

        {% block head_js %}{% endblock head_js %}
        {% block head_css %}{% endblock head_css %}

        <title>{% block title %}Polypoint{% endblock title %}</title>
    </head>
    <body polyclass class="{% block body_class %}{% endblock body_class %}
    font-pack-lexend+deca-500
    font-lexend+deca-500
    font-pack-Inter-400-500">
        {% block content %}
        <canvas id="playspace"></canvas>
        {% endblock content %}

        {% block js %}
            {% include "./imports/base.html" %}
        {% endblock js %}

        {% block extra_js %}{% endblock extra_js %}
        {% block extra_css %}{% endblock extra_css %}
    </body>
</html>

