{% extends "./example-base.html" %}

{% block js %}
    {# {% include "./imports/click-create.html" %} #}

    <script src="../point_src/core/head.js"></script>
    <script src="../point_src/pointpen.js"></script>
    <script src="../point_src/pointdraw.js"></script>
    <script src="../point_src/math.js"></script>
    <script src="../point_src/extras.js"></script>

    <script src="../point_src/point-content.js"></script>
    <script src="../point_src/pointlist.js"></script>
    <script src="../point_src/pointlistpen.js"></script>
    <script src="../point_src/point.js"></script>
    <script src="../point_src/stage.js"></script>
    <script src="../point_src/distances.js"></script>
    <script src="../point_src/events.js"></script>
    <script src="../point_src/automouse.js"></script>
    <script src="../point_src/constrain-distance-locked.js"></script>
    <script src="../point_src/constrain-distance.js"></script>

    <script src="../point_src/setunset.js"></script>
    <script src="../point_src/stroke.js"></script>

    <script src="../theatre/follow-main-2.js"></script>

{% endblock js %}