{% extends "./example-base.html" %}
{% comment "What" %}
    The "Generic named" template extends the example base and infers the name of
    the imports _include_ and the theatre script name.

    Apply to the template file:

        {% extends "./generic_named.html" %}

    If the target example file is "foo-example.html", the expected imports become:

        imports/foo-example.html
        theatre/foo-example.js
{% endcomment %}
{% load strings link try_include flat_file %}


{% if metadata %}
    {% block title %}{{ metadata.title }}{% endblock title %}
{% endif %}


 {% block content %}
    {% css "css/index.css" %}
    {% css "examples/css/slider.css" %}
    {% include "docs/header.html" %}

    <main class="icon-pack-outlined">
        <div class="horiz-stack">
            <div class="primary-panel">
                <div class="header-tools extra-buttons font-Inter-500">
                    {# <span>Extra Bits</span> #}
                    {% include './generic_named/dimensions_app.html' %}
                    {% include './generic_named/download_image_app.html' %}
                </div>
                <div class="canvas-container">
                    <div class="playspace-container stick-canvas">
                        {% block canvas_container %}
                        <canvas id="playspace"></canvas>
                        {% endblock canvas_container %}
                    </div>
                    <div class="border-panel"></div>
                </div>
                <div class="footer-tools">
                </div>
            </div>

            <div class="right-panel-container">
                <div class="editor-assist-tools">
                    <ul class="editor-assist-list">
                        <li class="editor-assist-item">
                            {% link "examples:clone_file" part_name "clone" %}
                        </li>
                        <li class="editor-assist-item">
                            {% link "examples:rename_file" part_name "rename" %}
                        </li>
                    </ul>
                </div>
                <h2>{{  metadata.title }}</h2>
                <!-- anywhere on the page -->
                {% include './generic_named/mini_app.html' %}

                <!-- An app for little cell items. -->
                {% include './generic_named/widgets_app.html' %}
                {% include './generic_named/info_app.html' %}

                <div class='logger' id="logging_app">
                    <!-- Logging tool -->
                     Logger

                {% verbatim %}
                    <span ref="liveText">Install Logger {{ store.words }}</span>
                    <ul ref='debugger_lines'>

                    </ul>
                {% endverbatim %}
                </div>
            </div>
        </div>

        {# generic_named\installs_logger_app.html #}
        {% include './generic_named/primary-status-bar.html' %}

    </main>
    {% verbatim %}
        <div id="global_error_app"
                class="error-view"
                :class="{ show: store.hasError }">
            <div class="panel">
                <div class="error-message">
                    <div class="content">
                        <div class="message">{{ store.errorText.message }}</div>
                        <div class="stack">
                            <div class="text-data">{{ store.errorText.stackText }}</div>
                        </div>
                    </div>
                    <div class="actions">
                        <a href="#">Understood</a>
                    </div>
                </div>
            </div>
        </div>
    {% endverbatim %}
    {% link.css "examples/css/global-error-handler.css" %}

{% endblock content %}


{% block js %}

    {# <script src="https://unpkg.com/petite-vue" defer init></script> #}


    {% link.js "examples/js/apps/early-logger-app.js" %}

    {% link.js "examples/js/apps/early-installs-logger-app.js" %}
    <script src="../point_src/core/loader.js"></script>

    <!-- UI Application Dependencies -->
    {% link.js "examples/js/petite-vue.iife.js" "defer" %}
    {% link.js "examples/js/mountable.js" "defer" %}

    <!-- UI Application things. -->
    {% link.js "examples/js/apps/memory-tool-app.js" %}
    {% link.js "examples/js/apps/widget-app.js" %}
    {% link.js "examples/js/apps/button-app.js" %}

    {% link.js "examples/js/global-error-handler.js" %}
    {% link.js "examples/js/global-error-app.js" "defer" %}
    {% link.js "examples/js/apps/file-view.js" %}
    {% link.js "examples/js/apps/dimensions-app.js" "defer" %}
    {% link.js "examples/js/apps/installs-logger-app.js" "defer" %}
    {% link.js "examples/js/apps/scene-selector-app.js" "defer" %}
    {% link.js "examples/js/apps/logger-app.js" "defer" %}
    {% link.js "examples/js/apps/download-app.js" "defer" %}


    <!-- Metadata clean files -->
    {% if concat_file %}
        {% str_merge "../scripts/" part_name ".js" as script_path %}
        <script src="{{script_path}}"></script>
    {% else %}
        {% if metadata %}{% for filepath in metadata.clean_files  %}
        <script src={{ filepath }}></script>{% endfor %}
        {% endif %}
    {% endif %}


{% endblock js %}


{% block extra_js %}
    {% str_merge "../theatre/" part_name ".js" as script_name %}
    <script src={{script_name}}></script>
{% endblock extra_js %}
