{% extends "./example-base.html" %}

{% block js %}
    {# {% include "./imports/NAME.html" %} #}

    <script src="../point_src/math.js"></script>

    <script src="../point_src/core/head.js"></script>
    <script src="../point_src/pointpen.js"></script>
    <script src="../point_src/pointdraw.js"></script>
    <script src="../point_src/point-content.js"></script>
    <script src="../point_src/pointlist.js"></script>
    <script src="../point_src/distances.js"></script>
    <script src="../point_src/point.js"></script>

    <script src="../point_src/stage.js"></script>

    <script src="../others/curve_src/curve.js"></script>
    <script src="../theatre/line-connected-main.js"></script>
{% endblock js %}


{% block extra_js %}

{% endblock extra_js %}
