/*

CSS for the examples "file"

    http://localhost:8000/examples/chord-example/

Presenting a header, canvas and user tools.
Extending the "example-base.html"

    {% link.css "examples/css/file-view.css" %}

 */
#playspace {
    width: 99%;
    height: 99%;
    /* box-sizing: border-box; */
    padding: 0;
    /* margin: 0rem 0 0 1%; */
    /* border: solid 2px #111111; */
    background: #080808;
    border-radius: 0.5em;
    outline: solid 2px #111;
    grid-area: 1/1/1/1;
}

html, body {
    margin: 0;
    background: #111;
    color: #CCC;
    height: 100%;
    width: 100%;
    /*display: grid;*/
    max-height: 100%;
}


html, body {
     max-height: 100vh;
     overflow: hidden;
     display: grid;
     flex-direction: column;
}

body {
    grid-template-rows: min-content auto;
}


* {
    scrollbar-width: auto;
    scrollbar-color: #312c2c #cacaca;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: .6em;
  }

  *::-webkit-scrollbar-track {
    background: #050505;
  }

  *::-webkit-scrollbar-thumb {
    background-color: hsl(0deg 0% 23%);
    border-radius: 1em;
    border: 1px solid #000000;
  }

.horiz-stack {
    /* border: solid 1px; */
    display: grid;
    grid-template-columns: auto minmax(20em, min-content);
    /* height: 97%; */
    /* height: calc(100% - 2em); */
}

.horiz-stack .primary-panel {
    /* border: solid 1px red; */
    display: grid;
    grid-template-rows: min-content auto min-content;
}

.right-panel-container {
    /* border: solid 1px red; */
    overflow: auto;
    margin-right: 1em;
}

main {
    /* outline: solid 1px red; */
    /* height: 100vh; */
    /* display: flex; */
    /* flex-direction: column; */
    /* flex-grow: 1; */
    /* max-height: 100vh; */
    /* overflow: hidden; */
    /* outline-offset: -1px; */
}


footer.primay-status-bar {
    background: #080808;
    padding: 3px 1em;
    font-size: 1rem;
    display: flex;
    font-size: .8rem;
    gap: 1em;
}

.info-container {
    font-size: 14px;
}

.markdown-content ul,
.markdown-content ol {
    padding: 0 1em 0 2em;
}

.markdown-content ul li,
.markdown-content ol li {
    margin: 0.2em 0;
}

.extra-buttons {
    font-size: 0.9rem;
    margin-left: 1%;
    display: flex;
}

.memory-values-container {
    font-weight: 400;
    /* background: #111; */
    padding: 0.2em 0.7em;
    font-size: 0.7rem;
    gap: 1em;
    display: flex;
}

.memory-values-container > span {
    min-width: 5em;
    /* outline: solid 1px red; */
}

.memory-cell {
    gap: 0.3em;
    display: flex;
}

.memory-cell .label {
    text-transform: uppercase;
    color: #555;
}

.error-state #playspace {
    border-color: darkred;
}

.widget {
    background: hsl(0deg 0% 3%);
    border-radius: 0.6em;
    padding: 0em 0 0.4em 0;
    color: #999;
}

.widgets-container {
    font-size: 12px;
    /* font-size: 0.9rem; */
    gap: 1em;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
}

div#widgets > * {}

span.widget-label {
    display: table-cell;
    padding: 0rem 0.3em 0em 0.5em;
    min-width: 1.3em;
    text-align: right;
}

span.widget-label {}

.widget-fields {
    display: table;
    min-width: 4em;
    margin-right: 0.5em;
    padding-top: 0.2rem;
}

.widget-field {
    display: table-row;
}

span.widget-value {
    min-width: 1.5em;
    /* background: hsl(0deg 0% 6%); */
    padding: 0 0.2em;
    display: table-cell;
    /* border-bottom: solid 1px #000; */
    font-weight: 500;
}

.widget-field.field-y .widget-label {
    color: hsl(120 94% 37% / 1);
    text-transform: uppercase;
}

.widget-field.field-x .widget-label {
    color: hsl(0 59% 52% / 1);
    text-transform: uppercase;
}

ul.actions-container {
    list-style: none;
    padding: 0;
    margin: 1em 0;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    font-family: 'Inter';
}

a.button {
    text-decoration: none;
    background: hsl(0deg 0% 3%);
    padding: .5em 1.1em;
    display: inline-block;
    border-radius: 0.4em;
    font-size: 0.9rem;
    /* color: inherit; */
    /* color: #cfcfcf; */
    font-family: 'Inter';
    /* letter-spacing: 0.5px; */
}

.markdown-content pre {
    background: #080808;
    padding: 0.6em 0.9em;
    border-radius: .4em;
}

.markdown-content p code {background: #080808;padding: 0.1em .4em;border-radius: 0.3em;}

.canvas-container {
    display: grid;
}


.actions-container input,
.actions-container select {
    background: inherit;
    color: inherit;
    border: solid 2px #000;
    font: inherit;
    display: inline-flex;
}

.actions-container option {
    background-color: #111;
    color: inherit;
}

.actions-container input,
.actions-container select {
    background: inherit;
    color: inherit;
    border: solid 2px #000;
    font: inherit;
    display: inline-flex;
}

.actions-container option {
    background-color: #111;
    color: inherit;
}

.action-container label {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

span.pseudo-label {
    font-size: 0.8em;
}

.widget > h3 {
    margin: 0;
    padding: 0em 0.5em 0em;
    font-size: inherit;
    text-align: center;
    font-weight: 400;
    color: #c439d5;
}

ul.editor-assist-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 1em;
    font-size: 0.8rem;
    color: inherit;
}

li.editor-assist-item a {
    color: #888;
    text-decoration: dotted;
    border-bottom: dashed 1px;
}

main.icon-pack-outlined {
    display: grid;
    grid-template-rows: 92vh auto;
    /* height: 90%; */
    overflow: auto;
    overflow: hidden;
}

.info-container.font-Inter-500 {
    overflow: initial;
}


.width-height {/* border: solid 1px #555; *//* font-size: 12px; */font-size: 0.8em;padding: 0 0.9em;color: #525252;}

.width-height:hover, .width-height:focus {
    color: inherit;
}

.width-height .number:focus {
    outline: none;
    color: red;
}

span.material-symbols-outlined {
    font-size: inherit;
    color: inherit;
}

.download-image a {
    text-decoration: none;
    color: inherit;
    font-size: 0.8rem;
    display: inline-flex;
    align-items: center;
    gap: 0.2em;
    color: #555;
    /* border: solid 1px; */
    padding: 2px 6px 2px 4px;
    border-radius: 0.2em;
}

.header-tools.extra-buttons {
    display: inline-flex;
    align-items: center;
}

.border-panel {
    /* border: solid 1px #8f4848; */
    grid-area: 1/1/1/1;
    margin: 1em 1em 1em;
    pointer-events: none;
    display: flex;
}

.playspace-container {
    grid-area: 1/1/1/1;
    align-items: center;
    display: flex;
    justify-content: center;
    /* border: solid 1px red; */
    margin: 0 1em 1em;
}