ul.example-list {
    column-width: 15em;
}

.example-list a:focus,
.example-list a:hover {
    text-decoration: underline;
/*     background: #111; */
}
.example-list a {
    /* color: inherit; */
    text-decoration: none;
    font-size: 1rem;
    /* background: #111; */
    display: block;
    padding: 0.1em 0.3em;
    margin: 1px 0;
}

.example-list li {
    list-style: none;
}

.example-list {
    margin: 0;
    padding: 0;
}




select#orderby {
    font: inherit;
    border-radius: 0.3em;
    background: inherit;
    color: inherit;
    padding: 0.3em 0.5em;
}
