.installs-logger {
    /* color: red; */
}

.installs-logger .panel h3 {
    margin: 0.4em 0.4em 0;
}

.installs-logger .panel {
    background: #222;
    position: fixed;
    bottom: 3em;
    right: 1em;
    min-width: 12em;
}


.installs-logger ul {
margin: 0;
padding: 0;
list-style: none;
border: solid 1px #000;
margin: 0.4em;
padding: 0.3em;
background: #111;
}


.installs-logger ul li {
padding: .1em 0;
display: table-row;
}





.installs-logger.hide-panel .panel {display: none;}