
.block.markdown-rendered {
    /* color: red; */
    max-width: 58rem;
    color: #b797b8;
    color: #b4abb5;
    font-size: 1em;
}

.markdown-rendered h1, 
.markdown-rendered h2, 
.markdown-rendered h3, 
.markdown-rendered h4, 
.markdown-rendered h5 {
    /* color: red; */
    -webkit-text-fill-color: initial;
    color: hsl(292deg 74% 44%);
    margin-top: 1.8em;
    color: hsl(292deg 51% 52%);
    margin-bottom: 1em;
}


.markdown-rendered h1 {
    /* color: red; */
    -webkit-text-fill-color: initial;
    font-size: 2.5em;
    margin: 1em 0 1em;
    font-weight: 400;
    color: #c72de0;
}

.markdown-rendered h2 {
    /* color: red; */
    font-size: 2.1em;
    font-weight: 400;
    margin-bottom: 1em;
}

.markdown-rendered h3 {
    /* color: red; */
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 1.6em;
}

.markdown-rendered h3 code {
    /* color: red; */
    font-size: 1.5em;
    font-weight: 400;
    background: #080808;
    padding: .05em 0.3em 0.2em 0.3em;
    border-radius: 0.2em;
} 

.markdown-rendered ul code, 
.markdown-rendered ol code,
.markdown-rendered p  code {
    /* color: red; */
    font-size: .95em;
    /*     font-weight: 400; */
    /*     background: #060606; */
    color: hsl(298deg 34% 66%);
    /*     padding: 0 .2em; */
    color: hsl(292deg 27% 61%);
    font-family: inherit;
} 

.markdown-rendered hr {
    border: solid 1px black;
    margin: 2em 0em;
}

.markdown-rendered p, .markdown-rendered ul, .markdown-rendered ol {
    /* font-size: 1.1em; */
    font-weight: 400;
    line-height: 1.6;
}

.markdown-rendered ul li > p, .markdown-rendered ol li > p {
    margin: auto
}

.highlight code.hljs,
pre code.hljs {
    background: hsl(300deg 26% 9%);
    border-radius: 0.5em;
    padding: 1.5rem 2rem;
}

.markdown-rendered strong {
    color: hsl(267deg 24% 80%);
    font-weight: 500;
}

.markdown-rendered a {
    color: hsl(299deg 70% 53%);
}

.block.markdown-rendered.wide {
    /* max-width: 1020px; */
    max-width: 63em;
}

.markdown-rendered .example-list h3 {
    color: inherit;
    margin: 1em 0;
    /* text-transform: uppercase; */
    /* font-size: 2em; */
}

.markdown-rendered .example-list li:first-child h3 {
    margin-top: 0;
}