div#scene_selector_app {
    display: flex;
    position: relative;
    gap: 1em;
}

ul.scene-list {
    /* position: absolute; */
    bottom: 2em;
    /* border: solid; */
    list-style: none;
    margin: 0;
    padding: 0;
    background: #111;
}

.stage-action-buttons {
    display: flex;
    flex-direction: column;
    /* outline: solid; */
}

.pause-play-button {
    display: flex;
    gap: 1em;
}


.paused .pause-button {
    display: none;
}

.paused .play-button {}

.playing .play-button {
    display: none;
}

.playing .step-button {
    display: none;
}