{% verbatim %}
<div id='mini-app'>

  <ul class='actions-container'>
      <li v-for='item in controls' class='action-container'>
            <div class="action">

                <div v-if="item.field == 'button'">
                   <a class='button'
                        href="javascript:;"
                        @click="clickHandler($event, item)">{{ item.label }}</a>
                </div>

                <div v-if="item.field == 'input'">
                   <label>
                        <span class="pseudo-label">
                            {{ item.label }}
                        </span>
                        <input
                            :type="item.type || 'input'"
                            :value="item.value"
                            @input="changeHandler($event, item)"
                            step="1" />
                    </label>
                </div>

                <div v-if="item.field == 'checkbox'">
                   <label>
                        <span class="pseudo-label">
                            {{ item.label }}
                        </span>
                        <input
                            :type="item.type || 'checkbox'"
                            :value="item.value"
                            @input="changeHandler($event, item)"
                            :checked=item.checked />
                    </label>
                </div>

                <div v-if="item.field == 'select'">
                    <label>
                        <span class="pseudo-label">
                            {{ item.label }}

                        </span>
                        <select class='select'
                            @change="changeHandler($event, item)">
                            <option v-for='option in item.options'>
                                {{ option }}
                            </option>
                        </select>
                    </label>
                </div>

                <div v-if="item.field == 'range'">
                    <label>
                        <span class="pseudo-label">
                            <div>{{ item.label }}</div>
                        </span>
                        <div>{{ item.value }}</div>

                        <div>

                            <input
                                type="range"
                                :min="item.min!=undefined?item.min:1"
                                :max="item.max!=undefined?item.max:100"
                                :value="item.value!=undefined?item.value:10"
                                @input="changeHandler($event, item)"
                                :step="item.step!=undefined?item.step:1" />
                        </div>
                    </label>
                </div>

                <!--
                    Actions being:

                        button
                        dropdown
                        color
                        radios
                        text
                        number options

                    Basically all types
                -->
            </div>
      </li>
  </ul>
</div>
{% endverbatim %}
