{% load strings link %}

<footer class="primay-status-bar font-Inter-500">

    {% comment "without-petite-vue" %}
    <div class="memory-values-container">
        <div class='memory-cell'>
            <span class="label">total</span>
            <span id="memory-total-value">0</span>
        </div>
        <div class='memory-cell'>
            <span class="label">used</span>
            <span id="memory-used-value">0</span>
        </div>
        <div class='memory-cell'>
            <span class="label">limit</span>
            <span id="memory-limit-value">0</span>
        </div>
    </div>
    {% endcomment %}

    {% verbatim %}
    <div id="memory-values" class="memory-values-container">
        <div class='memory-cell' v-for='item in memoryCache'>
            <span class="label">{{ item.label }}</span>
            <span class="memory-value">{{ item.value }} {{ item.postfix }}</span>
        </div>
    </div>
    {% endverbatim %}

    {% str_merge "../theatre/" part_name ".js" as script_name %}
    {% str_merge part_name ".js" as sim_filename %}
    <div>{% link "editor:home" sim_filename script_name %}</div>
    <div class="scene-selector" id="scene_selector_app">
        Selected Scene:
        {% verbatim %}
        <ul class="scene-list">
            <li v-for="scene in store.scenes" :key="scene.id" class="scene-item">
                <input type="checkbox" :id="'scene-' + scene.id" v-model="scene.selected">
                <label :for="'scene-' + scene.id">{{ scene }}</label>
            </li>
        </ul>
        {% endverbatim %}
    </div>
    {% link.css "examples/css/scene-selector.css" %}


    <div class="spacer flex-grow-1"></div>

    <div>
        {# Present the installs logger UI and buttons. #}
        {% include "./installs_logger_app.html" %}
    </div>
</footer>