{% load link %}

{% verbatim %}

<div class="tiny-app download-content-app" id="upload_image_app" >
    <a href="javascript:;" class="primary-link" @click=uploadLinkClick>
        <span class="material-symbols-outlined">upload</span>
        <span class="label">Upload</span>
    </a>
    
    <div class="tiny-dropdown download-image">
        <div class="filename-input">
            <input type="text" ref="filename" 
                value="{% endverbatim %}{{part_name}}{% verbatim %}.png">
            <input type="hidden" ref="upload_url"
                value="{% endverbatim %}{% url 'examples:image_post_form' %}{% verbatim %}">
            <input type="hidden" ref="theatre_filename"
                value="{% endverbatim %}{{part_name}}{% verbatim %}">
        </div>
        <a href="javascript:;" @click=uploadLinkClick>
            <span class="left-cell">
                <span class="material-symbols-outlined">upload</span>
            </span>
            <span class="right-cell">
                <span class="label">Full</span>
            </span>
        </a>
        <a href="javascript:;" @click=uploadThumbnailLinkClick>
            <span class="left-cell">
                <span class="material-symbols-outlined">crop</span>
            </span>
            <span class="right-cell">
                <span class="label">Thumbnail</span>
            </span>
        </a>

        <div class="upload-status" aria-live="polite">
            <small>{{ store.uploading ? 'Uploading...' : (store.complete ? 'Done' : '') }}</small>
        </div>
        
    </div>

</div>
{% endverbatim %}
