<!DOCTYPE html>
<html lang="en">
<head>
    <title>Editor</title>

    <style type="text/css" media="screen"></style>

    {% load link  %}
    {% css "css/editor/main.css" %}
    {% js "js/polyclass.browser-full.js" %}
</head>
<body>

    <div class="columns-50">

        <div class="editor-container">

            <div class="editor-header">
                <!-- Mostly used as a spacer for additional buttons,
                and the auto-overlay for hyperlinks -->

                <div polyclass class="font-pack-lexend+deca-500 run-buttons font-lexend+deca-500">
                    <div class="primary-title"><h1>{{ path.path }}</h1></div>
                    <div class="spacer full"></div>
                    <select onchange="theatreChange(event)">
                        {% for name in theatre_list %}
                            {% with subpath=path.path %}
                                <option
                                    {% if name == subpath %}selected=selected{% endif %}
                                    value="{{ name }}">{{ name }}</option>
                            {% endwith %}
                        {% endfor %}
                    </select>
                    <div class="spacer full"></div>
                    <div class="memory display-flex gap-1em font-size-.8rem">
                        <div class='display-flex flex-direction-column'>
                            <span class='label'>total</span>
                            <span id="memory-total-value">0</span>
                        </div>
                        <div class='display-flex flex-direction-column'>
                            <span class='label'>used</span>
                            <span id="memory-used-value">0</span>
                        </div>
                        <div class='display-flex flex-direction-column'>
                            <span class='label'>limit</span>
                            <span id="memory-limit-value">0</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Updated by ace-editor.js -->
            <div id="editor">{% spaceless %}
                    {% if path.exists %}{{ path.content|safe }}{% else %}// no file{% endif %}
                {% endspaceless %}</div>

            <div class="buttons">

                <div polyclass class="font-pack-lexend+deca-500 run-buttons font-lexend+deca-500">
                    <div class="spacer full"></div>
                    <a href="javascript:polypointEditor.aceRunText();">Run</a>
                </div>
                <div class="footer-privacy"></div>
            </div>
        </div>

        <div class="canvas-container">
            <div class="canvas-wrapper">
                <canvas id="playspace"></canvas>
            </div>
        </div>

    </div>

    <script src="/editor/point_src/l.js?checkLoaded">
        // <- adding checkLoaded to the url will dumbly check already inserted script/link tags
    </script>

    <!-- <script src="../point_src/core/head.js"></script>
    <script src="../point_src/pointpen.js"></script>
    <script src="../point_src/pointdraw.js"></script> -->

    {% js "js/editor/main.js" %}

    <script src="/editor/point_src/core/loader.js"></script>
    <script src="/editor/point_src/files.js"></script>

    {% comment %}
        Load core view editor files.
        The 'editor' entry is applied as an alias, then the `loader`
        performs a _load_ of 'editor', calling polypointEditor.startView()
    {% endcomment %}
    {% js "js/editor/loads.js" %}
    {% js "js/editor/loader.js" %}


    <!--
    <script src="../point_src/stroke.js"></script>
    <script src="../point_src/point-content.js"></script>
    <script src="../point_src/pointlist.js"></script>
    <script src="../point_src/point.js"></script>

    <script src="../point_src/bisector.js"></script>
    <script src="../point_src/events.js"></script>
    <script src="../point_src/automouse.js"></script>

    <script src="../point_src/distances.js"></script>
    <script src="../point_src/dragging.js"></script>
    <script src="../point_src/stage.js"></script>
     -->

    <!--
    <script src="https://cdn.jsdelivr.net/npm/ace-builds@1.36.0/src-min-noconflict/ace.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/ace-builds@1.36.0/css/ace.min.css" rel="stylesheet">
     -->
    <!-- <script src="../editor/ace-editor.js"></script> -->
</body>
</html>