{% load link %}

{% css "css/boxes.css" %}

<div class="boxes-container">
    <ul class="box-list">
        <li class="box-item filler"></li>
        <li class="box-item">
            <div class="text-container">

                <h3>1.</h3>
                <p>{% lorem 15 w random %}</p>
            </div>
        </li>
        <li class="box-item filler"></li>
        <li class="box-item">
            <div class="text-container">
                <h3>2.</h3>
                <p>{% lorem 12 w random %}</p>
            </div>
        </li>
        <li class="box-item filler"></li>
        <li class="box-item">
            <div class="text-container">
                <h3>3.</h3>
                <p>{% lorem 16 w random %}</p>
            </div>
        </li>
        <li class="box-item filler"></li>
    </ul>
</div>