{% extends "docs/doc-base.html" %}
{% load static link %}
{% load markdown %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endcomment %}


{% endblock extra_css %}

{% block page_title %}Poly.ink{% endblock page_title %}



{% block header_footer %}
<div class="quick-links">
    <ul>
        <li>
            <a href="#">Getting Started</a>
        </li>
        <li>
            <a href="#">Github</a>
        </li>
    </ul>
</div>

{% endblock header_footer %}


{% block content %}
{% link.css "css/bubble-demo.css" %}


<div class="outer-block">
    <div class="block">
        {% markdown %}
        > Polypoint.js is a library dedicated to the humble 2D point.


        {% endmarkdown %}
    </div>
</div>

<div class="outer-block">
    <div class="block">
        {% markdown %}
        # Point Centric Design

        Everything is a graph. from [lists](#link) to [lines](#l), [emitters](#2) to [collisions](#1), they all start and end with a [Point](#2).

        {% endmarkdown %}
        <!--
        Poly Point Centric Design
        PolyPoint Centric Design
        Poly PointCentric Design
        Poly Point Centric Design
        -->

    </div>
</div>


<div class="bubble-likeness">
    {% comment %}
        <img src="{% static "./img/pramod-tiwari--HE_g2BcZ_A-unsplash.jpg" %}">
    {% endcomment %}
    {# pramod-tiwari--HE_g2BcZ_A-unsplash.jpg #}
    <div class="bubble-canvas-container">
        <canvas id='bubbles-canvas'></canvas>
    </div>
</div>

{% include "./boxes.html" %}


<div class="outer-block iframe-block">
    <div class="block">
        {% include "./iframe_src.html" with src_partial='curve-knife.js' %}
    </div>
</div>

{% endblock content %}
