footer.primary-footer .icon {background: #090909;}

footer.primary-footer .icon {
    display: flex;
    justify-content: center;
    padding: 3em;
}

footer.primary-footer .copyright {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    margin: auto;
    flex-grow: 1;
    /* max-width: 40em; */
    font-size: .8em;
}

footer.primary-footer .copyright .timeline {
    font-size: 0.8rem;
    padding: 2em;
    background: #060606;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-basis: 5em;
    justify-content: center;
}

footer.primary-footer .copyright .timeline .spacer {
    min-width: 10em;
    background: #333;
    min-height: .1em;
    margin: 0 2em;
}

.copyright .text {
    max-width: 65em;
    margin: 3em auto 2em;
    color: #999;
    display: flex;
    flex-direction: column;
}

footer.primary-footer {
    margin-top: 10em;
}