.title h1, h1.title, h1 {
    background: linear-gradient(110deg, hsl(299deg 62% 44%) 7%, hsl(244deg 71% 56%) 77%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 20% 1rem;
    margin: 5% 0px;
}

main h2 {
    background: linear-gradient(110deg, hsl(299deg 62% 44%) 7%, hsl(244deg 71% 56%) 77%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 1rem 0rem;
}



header.primary {
    /* border: solid; */
    top: 0em;
    position: sticky;
}

header.primary ul {
    display: flex;
    list-style: none;
    padding: 0em;
    margin: 0;
    gap: 0.1em;
    font-size: 1.3em;
}

header.primary ul li a {
    text-decoration: none;
    color: inherit;
    padding: 0.2em 1em;
    display: inline-flex;
}

.tags-container {
    display: inline-flex;
}

.tags-container ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.block.crumb-info-container {
    display: flex;
    align-items: center;
}

.header-container {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 1000px) 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "left nav right";
}

.primary .nav {
  justify-self: stretch;
  align-self: center;
  grid-area: nav;
  max-width: 1000px;
}

.primary .left {grid-area: left;border-right: solid 1px #333;}
.primary .right { grid-area: right; }


.breadcrumb-container {
    /* border-bottom: solid 2px #111; */
    /* margin-bottom: 2rem; */
    padding-bottom: 0.1rem;
    color: #999;
    display: inline-flex;
    flex-grow: 1;
    flex-wrap: nowrap;
}

.breadcrumb-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.breadcrumb-container ul li a {
    padding: 1em;
    display: inline-flex;
    /* justify-content: center; */
    /* align-items: center; */
}

.breadcrumb-container ul li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}




body {
    background: #111;
}


.outer-block .block {
    max-width: 1000px;
    margin: 0 auto;
}

main a {
    color: hsl(291deg 72% 59%);
}

main blockquote {
    background: #181818;
    padding: 1em 3em;
    margin: 1rem 0em 1em 0em;
    font-size: 1.1em;
    border-left: solid 4px #957638;
}

main p {
    line-height: 1.5;
    letter-spacing: .2px;
}