.title h1, h1.title {
    background: linear-gradient(110deg, hsl(299deg 62% 44%) 7%, hsl(244deg 71% 56%) 77%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 20% 1rem;
    margin: 5% 0px;
}

main h2 {
    background: linear-gradient(110deg, hsl(299deg 62% 44%) 7%, hsl(244deg 71% 56%) 77%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 1rem 0rem;
}



header.primary {
    /* border: solid; */
    top: 0em;
    position: sticky;
}

body {
    background: #222;
}


.outer-block .block {
    max-width: 1000px;
    margin: 0 auto;
}

main a {
    color: hsl(291deg 72% 59%);
}